.mobile__nav {
    position: fixed;
    top: 0;
    left: 35%;
    z-index: 1111;
    height: 40%;
    width: 30%;
    background-color: var(--body-dark-color);
    place-content: center;
    text-align: center;
    border-radius: 0 0 2vmin 2vmin;
    box-shadow: 0px 0px 20px var(--orangish-color);
    transform: translateY(-110%);
    transition: 300ms linear;
}

.mobile_nav-slide {
    transform: translateY(0);
}

.mobile__nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.mobile__nav-link {
    color: var(--orangish-color);
    font-size: var(--size-sm);
    font-weight: 600;
    letter-spacing: 0.03rem;
    position: relative;
    transition: color 200ms;
}

.mobile__nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--orangish-color);
    transition: transform 0.3s ease-in;
    transform: scaleX(0);
    transform-origin: right;
}

.mobile__nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}